# Dependencias de Node
/node_modules/

# Archivos de compilación de TypeScript
/lib/

# Archivos de entorno local
.env

# Logs de Firebase y emuladores
*.log
firebase-debug.log
database-debug.log
firestore-debug.log
pubsub-debug.log
storage-debug.log
ui-debug.log
